.card {
    background-color: var(--background-color);
}

.card-container {
    background-color: var(--card-background-color);
    text-align: center;
    padding: 3.5em 2em;
    border: 2px var(--card-background-color);
    border-radius: 20px;
    margin: 0 7em 6em;
}

.card-container-subtitle {
    color: var(--red);
    font-weight: 500;
}

.card-container-title {
    color: var(--black);
    font-size: 30px;
    font-weight: 500;
    padding: 1em 3em;
    line-height: normal;
}

.card-name {
    color: var(--black);
    font-weight: 500;
    padding: 1em 0.5em;
}

.card-job {
    color: var(--gray);
}