.numbers {
    padding: 0 5em 5em 5em;
}

.numbers-container-options {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;   
    list-style-type: none;

}

.numbers-items {
    padding: 0 3.5em;
    
}

.numbers-items-title {
    color: var(--red);
    font-size: 50px;
    font-weight: 600;
    padding: 0.3em 0;
}

.numbers-items-subtitle {
    color: var(--black);
    font-size: 15px;
    padding: 0.3em 0 0.7em 0 ;
    font-weight: 500;
}

.numbers-items-text {
    color: var(--gray);
    font-size: 13px;
    line-height: normal;
}